{namespace common=MikelMade\Mminteractive\ViewHelpers}
<!--additionalParams="{tx_mminteractive_mminteractive_mminteractiveedit: {test: 'HALLO'}}"-->
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <f:layout name="Map"/>

    <f:section name="content">
        <f:flashMessages />
        {all->f:debug()}
        <f:link.action action="addEvent" additionalParams="{map: map}">add Event TEST</f:link.action>
        <f:link.action action="addAreaPoint" additionalParams="{area: map}">add Area Point TEST</f:link.action>
    </f:section>
</div>